.draggable-tabs-bar-root {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 2px;
}

.draggable-tabs-bar-root.sorting,
.draggable-tabs-bar-root.sorting * {
    cursor: move !important;
}

body > .draggable-tabs-bar-horizontal-item {
    z-index: 9999;
    transition: 0ms;
}

.draggable-tabs-bar-horizontal-item {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    user-select: none;
    font-weight: 400;
    overflow: hidden;
}

/* 激活样式 --start */
.draggable-tabs-bar-horizontal-item:hover .draggable-tabs-bar-wrapper,
.draggable-tabs-bar-horizontal-item.active .draggable-tabs-bar-wrapper {
    position: relative;
    background: #f0f2f5;
    color: #1890ff;
}

.draggable-tabs-bar-horizontal-item:hover .close-wrapper:after,
.draggable-tabs-bar-horizontal-item.active .close-wrapper:after {
    background: #f0f2f5;
    box-shadow: 0 0 10px 10px #f0f2f5;
}

.draggable-tabs-bar-horizontal-item:hover,
.draggable-tabs-bar-horizontal-item.active {
    position: relative;
    overflow: visible;
}

.draggable-tabs-bar-horizontal-item:hover .tabs-bar-right-corner,
.draggable-tabs-bar-horizontal-item:hover .tabs-bar-left-corner,
.draggable-tabs-bar-horizontal-item.active .tabs-bar-right-corner,
.draggable-tabs-bar-horizontal-item.active .tabs-bar-left-corner {
    position: absolute;
    bottom: 0;
    left: -9px;
    width: 10px;
    height: 10px;
    z-index: 10;
    overflow: hidden;
}

.draggable-tabs-bar-horizontal-item:hover .tabs-bar-left-corner:before,
.draggable-tabs-bar-horizontal-item.active .tabs-bar-left-corner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #e8e8e8;
    box-shadow: 10px 0 0 10px #f0f2f5;
}

.draggable-tabs-bar-horizontal-item:hover .tabs-bar-right-corner,
.draggable-tabs-bar-horizontal-item.active .tabs-bar-right-corner {
    left: auto;
    right: -7px;
}

.draggable-tabs-bar-horizontal-item:hover .tabs-bar-right-corner:before,
.draggable-tabs-bar-horizontal-item.active .tabs-bar-right-corner:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #e8e8e8;
    box-shadow: -10px 0 0 10px #f0f2f5;
}

/* 激活样式 --end */

.draggable-tabs-bar-horizontal-item .draggable-tabs-bar-horizontal-item-inner {
    display: flex;
    align-items: center;
    height: 100%;
    transition: width 300ms;
    box-sizing: border-box;
    padding-right: 2px;
}

.draggable-tabs-bar-horizontal-item .draggable-tabs-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0 8px;
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: 300ms;
}

.draggable-tabs-bar-horizontal-item .item-inner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 12px;
}

.draggable-tabs-bar-horizontal-item .close-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 16px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    cursor: pointer;
}

.draggable-tabs-bar-horizontal-item .close-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
    height: 100%;
    width: 0;
    background: #fff;
    box-shadow: 0 0 10px 10px #fff;
    transition: 300ms;
}
