// 样式前缀，做微前端，防止各个系统样式冲突时，各个系统修改为不同的值
@packageName: ''; // lessLoader 会改为 package.json name属性
@ant-prefix: ~'@{packageName}';
@ra-lib-prefix: ~'@{packageName}';

:export {
    antPrefix: @ant-prefix;
    raLibPrefix: @ra-lib-prefix;
}

// 自定义变量
//@page-content-margin: 0;
//@page-content-padding: 0;
//@content-margin: 0px;
//@content-padding: 8px;
//@layout-z-index: 999;
//@layout-transition-duration: 0;

// ant 官方变量
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@primary-color: #1890ff; // 全局主色
@border-color-base: hsv(0, 0, 85%);
@layout-header-background: #001529;
@menu-dark-inline-submenu-bg: #000c17;
@body-background: #f0f2f5;
